<h1>Admin &raquo; Dashboard</h1>

<br>

<div class="jumbotron">
  <p><a href="/admin/products">Total Inventory</a></p>
  <p><%= @inventory %></p>
</div>

<div class="order-summary jumbotron">
  <p><a href="/admin/categories">Categories</a></p>
  <p><%= @categories %></p>
</div>