<header><h1>Dashboard</h1></header>

<table>
  <tr>
    <th><a href="/admin/products">Total Inventory</th>
    <th><a href="/admin/categories">Categories</th>
  </tr>
  <tr>
    <td><%= @inventory %></td>
    <td><%= @categories %></td>
  </tr>
</table>
