<h1>Welcome to the Jungle</h1>

<br>

<h3>About Us</h3>
<div class="jumbotron">
  Why do we even need weapons anyway? We have her. Don’t take it so personally, okay? I don’t like most people. He’s in the vast majority. He’s a sensitive kid. Lonnie used to say he was queer. Called him a fag. Is he? He’s missing, is what he is! Bitchin'
Mistakes have been made. You're an idiot, Steve Harrington. You're beautiful, Nancy Wheeler. You’re pretty cute, you know that? Just wait till we tell Will that Jennifer Hayes was crying at his funeral. You're an idiot, Steve Harrington. You're beautiful, Nancy Wheeler.
</div>
<a class="btn btn-info" href="https://www.amazon.com/" role="button">Learn More</a>
<br>

<h3>Our Mission</h3>

<div class="jumbotron">
If anyone asks where I am, I've left the country. He’s a sensitive kid. Lonnie used to say he was queer. Called him a fag. Is he? He’s missing, is what he is! She shut one door! With her mind! Um, I'm happy you're home. If we’re both going crazy, then we’ll go crazy together, right?
Mistakes have been made. Yeah, I want a date with Bo Derek. We all want things. Let’s burn that lab to the ground. I need my paddles! You are such a nerd. No wonder you only hang out with boys. You’re pretty cute, you know that? Friends don't lie. I need my paddles!
Oh... candy, leftovers, Eggo's... she really likes Eggo's. You act like you want me to be your friend and then you treat me like garbage. You’re going to be home by 8, listening to the Talking Heads and reading Vonnegut or something. That sounds like a nice night.
</div>
<a class="btn btn-info" href="https://www.amazon.com/" role="button">Learn More</a>
<a class="btn btn-success" href="https://www.amazon.com/" role="button">Contribute</a>
